@using BeYourMarket.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "[[[Login]]]";
}

<div class="main-section">
    <div class="container-fluid">
        <div class=" center-block col-md-6">
            <div class="panel panel-default mrg-t">
                <div class="panel-body bdr-b panel-header">
                    <h4>[[[Login to your account]]]</h4>
                </div>

                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label for="Email">@Html.LabelFor(m => m.Email) <span class="text-red">*</span></label>
                            <input class="form-control input-lg" id="Email" name="Email" placeholder="[[[Enter Email]]]" type="text" value="" data-rule-email="email" data-rule-required="true">
                        </div>
                        <div class="form-group">
                            <label for="Password">@Html.LabelFor(m => m.Password) <span class="text-red">*</span></label>
                            <input class="form-control input-lg" id="Password" name="Password" placeholder="[[[Password]]]" type="password" data-rule-required="true">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />
                            <label for="RememberMe">[[[Remeber me?]]]</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">[[[Let me in]]]</button>
                    }

                </div>
                <div class="panel-footer ">
                    @Html.ActionLink("[[[Register as a new user]]]", "Register")
                    <br />
                    @Html.ActionLink("[[[Forgot your password?]]]", "ForgotPassword")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") 
}