@using Microsoft.Practices.Unity;
@using Microsoft.Practices.Unity.Configuration;

@model BeYourMarket.Web.Models.ProfileModel

@{
    ViewBag.Title = "[[[Profile]]]";
}

@section Styles {

}

<div class="body-content">

    <!-- Start Page Heading -->
    <div class="section panel-header ">
        <div class="container-fluid">
            <div class="col-md-12 text-center-sm">
                <img class="pull-left-md img-circle profile-picture m-r-10" src="@BeYourMarket.Web.Utilities.ImageHelper.GetUserProfileImagePath(Model.User.Id)" />

                <h4>@Model.User.FullName</h4>
                <p>
                    <span class="score @Model.User.RatingClass"></span>
                    <span>@string.Format("[[[{0:N0} reviews]]]", Model.ListingReviews.Count)</span>
                </p>
                <p class="lead text-lighten text-sm">
                    [[[Joined since]]] @Model.User.RegisterDate.ToShortDateString()
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid mrg-tb">
        <div class="row">
            <div class="col-md-12 section-title ">
                <h4>[[[Reviews]]] (@Model.ListingReviews.Count)</h4>
            </div>
        </div>


        @foreach (var review in Model.ListingReviews)
        {
            var ratingClass = "s" + review.Rating * 2;
            <div class="row text-center-sm">
                <div class="col-md-2 col-xs-12">
                    <img class="img-circle thumb-sm m-r-5" src="@BeYourMarket.Web.Utilities.ImageHelper.GetUserProfileImagePath(review.AspNetUserFrom.Id)" />
                    <p><a class="text-xs" href="@Url.Action("Profile", "Listing", new { id = review.AspNetUserFrom.Id })">@review.AspNetUserFrom.FullName</a></p>
                </div>
                <div class="col-md-10 col-xs-12">
                    <span class="score @ratingClass"></span>
                    <p class="text-sm">@review.Description</p>
                    <small class="text-lighten">@review.Created.ToShortDateString()</small>
                </div>
                
            </div>

            <hr />
        }

    </div>

    <div class="container-fluid mrg-tb">
        <div class="row">
            <div class="col-md-12 section-title ">
                <h4>[[[Listings]]] (@Model.Listings.Count)</h4>
            </div>
        </div>


        <div class="row row-eq-height">
            @foreach (var item in Model.Listings)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    @Html.Partial("~/Views/Listing/_ListingCard.cshtml", item)
                </div>
            }
        </div>

    </div>



</div>

@section Scripts {

}
